.timer {
    display: flex;
    align-items: center;
    width: fit-content;
}
.timer h1 {
    position: absolute;
    top: 340px;
    left: 300px;
    font-weight: lighter;
    font-size: 3em;
}
.temporizador {
    font-weight: normal;
    font-size: 60px;
    position: absolute;
    left: 280px;
    top: 310px;
}
.circleTimer {
    stroke-dasharray: 1947px;
    position: absolute;
}
svg.stationary {
    stroke-dashoffset: 0px;
}
svg.oncurse {
    stroke-dashoffset: 1947px;
    animation: startTimer 10s ease 1 forwards;
}
svg.paused {
    animation-play-state: paused;
}
svg.continued {
    animation-play-state: running;
}

@keyframes startTimer {
    from {
        stroke-dashoffset: 1947px;
    } to {
        stroke-dashoffset: 0px;
    }
}