.timer {
    display: flex;
    align-items: center;
    width: fit-content;
}
.timer h1 {
    position: absolute;
    font-weight: lighter;
    top: 350px;
    left: 291px;
    font-size: 3em;
}
.timer h1  {
    top: calc(50% - 35px);
    left: calc(30% - 75px);
}

.timercontainer {
    width: fit-content;
    display: flex;
    
}
.timercontainer button {
    float: right;
}
.temporizador {
    font-weight: normal;
    font-size: 60px;
    position: absolute;
    left: 280px;
    top: 310px;
}
.circleTimer {
    stroke-dasharray: 1948px;
    position: absolute;
}
svg.stationary {
    stroke-dashoffset: 0px;
}
svg.oncurse {
    stroke-dashoffset: 1947px;
    animation: startTimer 10s ease 1 forwards;
}
svg.paused {
    animation-play-state: paused;
}
svg.continued {
    animation-play-state: running;
}

button img {
    width: 30px;
    height: 30px;
    filter: invert(10%);
}
button {
    background-color: lightblue;
    border: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px;
    border-radius: 5px;
    box-shadow: 5px 2px 15px 3px rgba(0, 0, 0, 0.089);

    cursor: pointer;
}

.controls {
    display: flex;
    flex-direction: column;
    height: 105px;
    justify-content: space-between;
}
@keyframes startTimer {
    from {
        stroke-dashoffset: 1948px;
    } to {
        stroke-dashoffset: 0px;
    }
}