@font-face {
  font-family: 'Nunito';
  src: url('./fonts/Nunito/Nunito-Light.ttf');
}

body {
  margin: 0;
  width: 100vw;
  height: 98vh;
  overflow-x: hidden;
  font-family: 'Nunito', sans-serif;
  background-color: #E5F2FE;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --letter_dark: rgb(21, 25, 48);
}
