@font-face {
  font-family: 'Balsamiq Sans';
  src: url('./fonts/Balsamiq_Sans/BalsamiqSans-Regular.ttf'),
  url('./fonts/Balsamiq_Sans/BalsamiqSans-Italic.ttf'),
  url('./fonts/Balsamiq_Sans/BalsamiqSans-BoldItalic.ttf'),
  url('./fonts/Balsamiq_Sans/BalsamiqSans-Bold.ttf');
}

body {
  margin: 0;
  font-family: 'Balsamiq Sans';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}